@model ACME.Models.MateriaPrima

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MateriaPrima</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstoqueAtual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstoqueAtual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstoqueMinimo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstoqueMinimo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
